/* COLORS */
:root {
    --MATCHA: #809671;
    --ALMOND: #E5E0D8;
    --PISTACHE: #B3B792;
    --CHAI: #D2AB80;
    --CAROB: #725C3A;
    --CAROB-70: rgba(114, 92, 58, .7);
    --VANILLA: #E5D2B8;
}
