/* GLOBAL DEFINITION */
* {
    padding: 0;
    margin: 0;
}

html,
body {
    position: relative;
    overflow-x: hidden;
}

h1 {
    font-family: "Spectral";
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
}

h2 {
    font-family: "Spectral";
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
}

h3 {
    font-family: "Spectral";
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
}

h4 {
    font-family: 'Spectral';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    opacity: 40%;
}

p {
    font-family: "Spectral";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
}

a {
    all: unset;
    cursor: pointer;
}

button {
    width: 220px;
    height: 55px;
    background: var(--VANILLA);
    border: 2px solid var(--VANILLA);
    border-radius: 12px;
    font-family: 'Spectral';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    color: #FFFFFF;
    cursor: pointer;
}

.secondary {
    background: #FFFFFF;
    color: var(--VANILLA);
}

/* GLOBAL CLASSES */
.flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.space-between {
    justify-content: space-between;
}

.justify-right {
    justify-content: flex-end;
}

.justify-left {
    justify-content: flex-start;
}

.align-right {
    align-items: flex-end;
}

.align-left {
    align-items: flex-start;
}



.column {
    flex-direction: column;
}

.row {
    flex-direction: row;
}

.row-reverse {
    flex-direction: row-reverse;
}

.column-reverse {
    flex-direction: column-reverse;
}



.text-to-right {
    text-align: end;
}

.text-to-left {
    text-align: start;
}

.text-to-center {
    text-align: center;
}

.justify {
    text-align: justify;
}


.transparent {
    opacity: 0%;
}

.spacer {
    height: 120px;
}

/* PER TITOLI COME STUDIO BRUSA */
.title {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 54px;
    letter-spacing: 0.2em;
}


/* NAVBAR */
.navbar-section {
    background: linear-gradient(180deg, rgba(219, 202, 182, 0.4) -95.83%, rgba(219, 202, 182, 0) 100.83%);
    color: var(--CAROB);
    padding: 0 60px;
    height: 95px;
}

.navbar-links {
    gap: 60px;
}

.navbar-social {
    gap: 30px;
    filter: brightness(0) saturate(100%) invert(32%) sepia(50%) saturate(357%) hue-rotate(358deg) brightness(102%) contrast(91%);
}

/* FOOTER */
.footer-section {
    padding: 50px 0;
    gap: 35px;

    .title {
        font-size: 28px;
    }
}

.footer-social {
    gap: 30px;
    opacity: 60%;
    position: relative;

    .line {
        flex: 1;
        height: 1px;
        width: 140px;
        background-color: #000000;
        opacity: 40%;
        margin: 0;
    }

    img {
        width: 28px;
        height: 28px;
    }
}