@media (max-width:1200px){

    .studio-section{
        padding: 40px 80px;
    }

    .collaboration-section{
        .collaboration-container{
         padding: 0;
         .collaboration-card{
            width: 320px;
         }
        }       
    }

    .price-section{
        padding: 40px 100px 100px 100px;
    }

    .social-section{
        .social-container{
            .card-container{
                .card{
                    padding: 0 20px;
                }
            }
            .line{
                display: none;
            }
        }

    }

}



@media (max-width: 1000px) {
    :root{
        --paddingmobile: 30px;
    }

    .main-section{
        padding: 0 30px;
    }

    .main-container {
        gap: 100px;
        padding-bottom: 120px;
    }

    .main-buttons {
        flex-direction: column;
        gap: 15px;
        padding-bottom: 120px;
    }

    .price-section {
        padding: 40px 0 100px 0;
        gap: 20px;

        h1 {
            padding: 0 var(--paddingmobile);
            text-align: left;
        }
        p {
            padding: 0 var(--paddingmobile) 30px var(--paddingmobile);
            text-align: justify;
        }

        .line {
            width: calc(100dvw - 60px);
        }
    }

    .price-container {
        padding: 30px var(--paddingmobile);
        gap: 40px;
    }

    .price-card {
        text-align: center;
        text-wrap: wrap;
        width: 120px;
    }

    .studio-section {
        padding: 40px var(--paddingmobile);
        padding-bottom: 80px;
    }
    .studio-container {
        flex-direction: column;
        height: min-content;
        gap: 50px;
    }
    .studio-img {
        width: 100%;
        height: 40vw;

        /* img{
            height: 100px;
        } */

        img:nth-child(1) {
            height: 100%;
            width: 100%;
            transform: translate(0, 0);
        }
        img:nth-child(2) {
            display: none;
        }
        img:nth-child(3) {
            display: none;
        }
    }

    .studio-text {
        width: 100%;
        padding: 0;
    }

    .description-section {
        flex-direction: column;
        padding: 80px var(--paddingmobile);
        gap: 30px;
    }

    .description-text {
        width: 100%;
        padding: 0;
        p {
            padding: 0;
        }
    }

    .social-section {
        padding: 60px var(--paddingmobile);
        background-image: url('../images/sfondo_social_mobile.png');

        .social-container {
            padding: 50px 0;
            gap: 50px;
            border-radius: 12px;
            width: 100%;

            h1 {
                display: flex;
                align-items: center;
                justify-content: center;
            }

            .card-container {
                flex-direction: column;
                gap: 40px;

                .card {
                    padding: 0;
                    flex-direction: column-reverse;
                    gap: 5px;
                    p {
                        display: none;
                    }
                    h3 {
                        font-size: 16px;
                        order: -1;
                        padding-top: 10px;
                    }
                    a {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                    }
                }
                .line {
                    height: 1px;
                    width: 90px;
                    background-color: black;
                    display: block;
                }
            }
        }
    }

    .collaboration-section{
        padding: 60px var(--paddingmobile);

        .collaboration-container{
            padding: 0;
            
            .collaboration-card{
                padding: 20px 30px;
                width: 280px;
                height: 220px;
                p{
                    -webkit-line-clamp: 3;
                }

                button{
                    width: 120px;
                    height: 35px;
                }
            }
        }

    }

    .contact-section{
        .contact-container{
            width: 100%;
            padding: 0 30px;
            box-sizing: border-box;
            flex-direction: column;
            align-items: flex-start;
            gap: 20px;
        }
        iframe{
            padding-top: 10px;
        }
    }
}

@media (min-width:426px) and (max-width: 1000px){

    :root{
        --paddingmobile: 50px;
    }

}
