.main-section{
    height: calc(100vh - 95px);
}

.main-container{
    height: 270px;
    padding: 0 0 0px 0;
}

.main-buttons{
    gap: 30px;
}

.price-section{
    padding: 40px 200px;
    gap: 40px;

    h1{
        padding: 0 90px;
    }
    p{
        padding: 0 0 20px 0;
    }
}

.price-container{
    gap: 80px;
    padding: 20px 0 10px 0;
}

.price-card{
    gap: 10px;
}

.price-icon{
    border-radius: 100%;
    background: var(--PISTACHE);
    padding: 30px;
    border-bottom: 5px;
}