<div class="flex space-between navbar-section">

    <div class="flex navbar-social">
        <a>
            <img src="./svg/tiktok.svg">
        </a>
        <a>
            <img src="./svg/yt.svg">
        </a>
        <a>
            <img src="./svg/instagram.svg">
        </a>
    </div>

    <div class="flex navbar-links">
        <a href="../" >
            <h2>Home</h2>
        </a>
        <a href="./portfolio/">
            <h2>Portfolio</h2>
        </a>
        <a href="./prenota/">
            <h2>Prenota</h2>
        </a>
    </div>

</div>